@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .animation-delay-1000{
        animation-delay: 1s;
    }
    .animation-duration-50s{
        animation-duration: 50s;
    }
    .animation-duration-2s{
        animation-duration: 2s;
    }
    .animation-reverse{
        animation-direction: reverse;
    }
}

@layer base {

    * {
        @apply m-0 p-0 box-border antialiased font-Montserrat;
    }

    body {
        @apply transition-all duration-300 dark:bg-dark dark:text-gray-50;
    }

    img {
        @apply max-w-full block;
    }

    ::-webkit-scrollbar {
        @apply w-2 bg-transparent
    }

    ::-webkit-scrollbar-thumb {
        @apply w-2 bg-primary rounded-full;
    }

    ::selection{
        @apply bg-primary text-white
    }

    .wrapper {
        @apply max-w-7xl mx-auto px-5;
    }

    .header_nav>li>a {
        @apply font-semibold text-xl leading-none relative ;
    }

    .header_nav>li>a::after {
        content: "";
        @apply w-5 h-[5px] bg-primary rounded-md absolute -bottom-2 left-0 transition-all duration-300
    }
    .header_nav>li>a:hover::after {
        content: "";
        @apply w-full
    }
    .hero_socials>a{
        @apply p-2 rounded-full dark:text-dark dark:bg-light bg-dark text-light dark:hover:bg-primary dark:hover:text-light hover:bg-primary transition-all duration-300
    }
    #home_hero_img_div::before{
        content: "";
        @apply absolute md:-inset-10 inset-0 border-dashed dark:border-gray-500 md:border-2 border rounded-full z-0
    }
    #home_hero_img_div::after{
        content: "";
        @apply absolute md:inset-8 inset-7 border-dashed dark:border-gray-500 md:border-2 border rounded-full z-0
    }
    .tech_orbit{
        @apply z-[1] flex absolute
    }
    .tech_orbit.inner{
        @apply animate-spin md:inset-2 inset-4 animation-delay-1000 animation-duration-50s
    }
    .tech_orbit.outer{
        @apply animate-spin inset-8 animation-delay-1000 animation-duration-50s animation-reverse
    }
    .tech_orbit.inner>img{
        @apply animate-spin animation-delay-1000 animation-duration-50s animation-reverse
    }
    .tech_orbit.outer>img{
        @apply animate-spin animation-delay-1000 animation-duration-50s
    }
    .tech_orbit>img{
        @apply md:w-14 md:h-14 w-7 h-7 aspect-square relative object-cover rounded-full shadow-xl
    }
    .home_hero_img::after{
        content:"";
        @apply absolute rounded-full inset-10 -z-[1] bg-primary opacity-75 animate-ping animation-duration-2s;
    }
}